body:not(.gamasutra-beautifier-disabled) div.wrapper.properties,
body:not(.gamasutra-beautifier-disabled) div.topicmenu,
body:not(.gamasutra-beautifier-disabled) div.span-4 div.content_box_left,
body:not(.gamasutra-beautifier-disabled) div.nav,
body:not(.gamasutra-beautifier-disabled) div.hide-phone h3,
body:not(.gamasutra-beautifier-disabled) div.hide-phone .stories_item,
body:not(.gamasutra-beautifier-disabled) div.right.small,
body:not(.gamasutra-beautifier-disabled) div.page_item > br,
body:not(.gamasutra-beautifier-disabled) div.page_item > hr,
body:not(.gamasutra-beautifier-disabled) div.content_box_middle > hr,
body:not(.gamasutra-beautifier-disabled) div.content_box_middle > .page_item > img, /* hide add this button */
body:not(.gamasutra-beautifier-disabled) div.leaderboard,
body:not(.gamasutra-beautifier-disabled) div.addthis_toolbox,
body:not(.gamasutra-beautifier-disabled) img[alt="Featured Blogs"],
body:not(.gamasutra-beautifier-disabled) img[alt="Expert Blogs"],
body:not(.gamasutra-beautifier-disabled) div.header_large,
body:not(.gamasutra-beautifier-disabled) div.clear,
body:not(.gamasutra-beautifier-disabled) .page_item > div > br,
body:not(.gamasutra-beautifier-disabled) > br,
body:not(.gamasutra-beautifier-disabled) span.comment_text,
body:not(.gamasutra-beautifier-disabled) a[name="twitter_share"],
body:not(.gamasutra-beautifier-disabled) a[href="/blogs/rss/"],
body:not(.gamasutra-beautifier-disabled) #___plusone_0,
body:not(.gamasutra-beautifier-disabled) #edit_post_link,
body:not(.gamasutra-beautifier-disabled) #login_phone,
body:not(.gamasutra-beautifier-disabled) img[alt="spacer"],
body:not(.gamasutra-beautifier-disabled) iframe[src^="https://www.facebook.com"],
body:not(.gamasutra-beautifier-disabled) .two_col br,
body:not(.gamasutra-beautifier-disabled) .two_col_dark br,
body:not(.gamasutra-beautifier-disabled) .item_body hr,
body:not(.gamasutra-beautifier-disabled) div.header_large img,
body:not(.gamasutra-beautifier-disabled) p.blogtype img,
body:not(.gamasutra-beautifier-disabled) .content-body-wrapper > br,
body:not(.gamasutra-beautifier-disabled) #iribbon-container,
body:not(.gamasutra-beautifier-disabled) #footerblack,
body:not(.gamasutra-beautifier-disabled) footer[id="#informa-footer"] {
    display: none !important;
}
/** Ads */
body:not(.gamasutra-beautifier-disabled) #div-gpt-ad-rec1,
body:not(.gamasutra-beautifier-disabled) .nativeapad-content {
    display: none !important;
}
body:not(.gamasutra-beautifier-disabled) .content_bg .page_item span.left,
body:not(.gamasutra-beautifier-disabled) .content_bg .page_item span.right {
    display: block !important;
    float: none !important;
}
body:not(.gamasutra-beautifier-disabled) .blogentry {
    background: transparent !important;   
    clear: both !important; 
    margin-top: 10px !important;
}
body:not(.gamasutra-beautifier-disabled) .blogentry:first-child {
    margin-top: 0 !important;
}
body:not(.gamasutra-beautifier-disabled) .blogentry > * {
    padding: 0 !important;
    border: none !important;
    margin-bottom: 10px !important;
}
body:not(.gamasutra-beautifier-disabled) .blogentry .descrip {
    clear: both !important;
}
body:not(.gamasutra-beautifier-disabled) .blogentry .avatar {
    float: left !important;
    width: auto !important;
    padding-left: 0 !important;
}
body:not(.gamasutra-beautifier-disabled) .blogentry .title {
    background: transparent !important;
    margin-bottom: 0 !important;
}
body:not(.gamasutra-beautifier-disabled) .blogentry .author {
    color: #666;
}
body:not(.gamasutra-beautifier-disabled) .blogentry .blogdata {
    clear: both;
}
body:not(.gamasutra-beautifier-disabled) .blogentry .title a {
    color: #22522a !important;
}
body:not(.gamasutra-beautifier-disabled) p.blogtype {
    margin-bottom: 10px !important;
}
body:not(.gamasutra-beautifier-disabled) .page_item > .blogtype {
    border-bottom: 2px solid #22522a;
    padding: 5px 0 !important;
    margin: 20px 0 10px;
    clear: both;
    background-color: transparent !important;
    margin: 10px 0 !important;
    color: #22522a !important;
    clear: both !important;
    display: block !important;
    float: none !important;
}
body:not(.gamasutra-beautifier-disabled) .page_item > .blogtype a {
    color: #22522a !important;    
}
body:not(.gamasutra-beautifier-disabled) .page_item > .blogtype a:hover {
    color: rgb(2, 149, 71) !important; 
}
body:not(.gamasutra-beautifier-disabled) p.blogtype:after {
    content: 'Editor Blogger';
    background: green;
    padding: 2px 8px;
    margin-left: 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 10px;
    vertical-align: middle;
}
body:not(.gamasutra-beautifier-disabled) .main_btn a {
    border: none !important;
    background: #388244 !important;
    text-shadow: none !important;
    padding: 10px !important;
    display: inline-block !important;
    font-weight: bold !important;
    font-size: 15px !important;
    border-radius: 5px !important;
}
body:not(.gamasutra-beautifier-disabled) .main_btn a:hover {
    text-decoration: none !important;
    background: #22522a !important;
}
body:not(.gamasutra-beautifier-disabled) .content_bg .page_item span.left .blogtype {
    text-align: center;
}
body:not(.gamasutra-beautifier-disabled) div.header_large {
    display: block !important;
    background: none;
    border-bottom: 2px solid #22522a;
    padding: 0;
    margin: 20px 0 10px;
    color: #22522a;
    clear: both;
}

/* Hides 'Blogs' header in blog posts page */
body:not(.gamasutra-beautifier-disabled) .span-16.last > .content_box_middle > div.header_large:first-child {
    display: none !important;
}

body:not(.gamasutra-beautifier-disabled) div.header_large a {
    color: #22522a;
}
body:not(.gamasutra-beautifier-disabled) div.header_large a:hover {
    text-decoration: none !important;
    color: rgb(2, 149, 71);
}
body:not(.gamasutra-beautifier-disabled) .span-16.leaderboard {
    display: block !important;
    background: #f9f9f9;
    text-align: center;
    height: auto !important;
}
body:not(.gamasutra-beautifier-disabled) .span-16.leaderboard #div-gpt-ad-top_ad_container {
    padding-top: 20px;
}
body:not(.gamasutra-beautifier-disabled) .show-phone.clearfix {
    padding: 0 !important;
}
body:not(.gamasutra-beautifier-disabled) .feed_item,
body:not(.gamasutra-beautifier-disabled) .two_col,
body:not(.gamasutra-beautifier-disabled) .two_col_dark {
    clear: both !important;
}
body:not(.gamasutra-beautifier-disabled) .feed_item {
    padding: 10px 0 !important;
}
body:not(.gamasutra-beautifier-disabled) .content_box_left {
    background: transparent !important;
    border: none !important;
    padding: 0 20px 20px 0 !important;
}
body:not(.gamasutra-beautifier-disabled) .content_box_left .main_news .title,
body:not(.gamasutra-beautifier-disabled) .main_news .content_box_left .title {
    padding: 10px 0 0 !important;
}
body:not(.gamasutra-beautifier-disabled) .item_body strong i small {
    display: block;
    padding: 10px;
    background: #f0f0f0;
    color: #666;
    line-height: 2em;
    font-style: normal;
    margin-bottom: 20px;
    font-size: 15px;
    text-align: left;    
}
body:not(.gamasutra-beautifier-disabled) .content_box_middle > .page_item > img.thumbnail {
    display: inline! important;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: transparent;
}
body:not(.gamasutra-beautifier-disabled) .content_box_middle .module_right > .comment_title {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.54);
    font-weight: 600;
}
body:not(.gamasutra-beautifier-disabled) .item_body > .page_data_1 > p:first-child:first-letter {
    font-size: 60px;
    font-weight: 900;
    margin-right: 12px;
    float: left;
    line-height: 0.83;
    padding-top: 10px;
}

body:not(.gamasutra-beautifier-disabled) .two_col_dark a:first-child,
body:not(.gamasutra-beautifier-disabled) div.show-phone {
    display: block !important;
}
body:not(.gamasutra-beautifier-disabled) .page_item > .show-phone > .comment_title {
    display: none !important;
}
body:not(.gamasutra-beautifier-disabled) div.module_right {
    display: block !important;
    float: none !important;
    width: 100% !important;
    margin: 0 0 10px !important;
}
body:not(.gamasutra-beautifier-disabled) div.module_right > .comment_title > a[href="#comments"],
body:not(.gamasutra-beautifier-disabled) div.module_right > .comment_title > div.left,
body:not(.gamasutra-beautifier-disabled) div.module_right #edit_post_link + hr,
body:not(.gamasutra-beautifier-disabled) div.module_right > hr,
body:not(.gamasutra-beautifier-disabled) div.module_right > br,
body:not(.gamasutra-beautifier-disabled) div.module_right > img {
    display: none !important;
}
body:not(.gamasutra-beautifier-disabled) div.module_right > .comment_title > hr {
    display: inline-block;
    height: 4px;
    background: #66656d;
    width: 4px;
    padding: 0;
    vertical-align: middle;
    border-radius: 2px;
}
body:not(.gamasutra-beautifier-disabled) div.module_right > .comment_title > hr:last-child {
    display: none !important;    
}

body:not(.gamasutra-beautifier-disabled) a.comment_icon,
body:not(.gamasutra-beautifier-disabled) .two_col_dark a.comment_icon {
    display: none !important;
}
body:not(.gamasutra-beautifier-disabled) .two_col_dark.pr {
    margin: 20px 0 !important;
    display: block !important;
}
body:not(.gamasutra-beautifier-disabled) .two_col_dark.pr > a,
body:not(.gamasutra-beautifier-disabled) .two_col_dark.pr strong:nth-child(1),
body:not(.gamasutra-beautifier-disabled) .two_col_dark.pr > strong {
    display: block;
    text-align: left;
}
body:not(.gamasutra-beautifier-disabled) .two_col_dark.pr ul {
    list-style: none !important;
    margin: 0 0 10px !important;
}
body:not(.gamasutra-beautifier-disabled) .two_col_dark.pr strong:nth-child(1) {
    margin: 0 0 10px;
}

body:not(.gamasutra-beautifier-disabled) .two_col_dark.pr li.line,
body:not(.gamasutra-beautifier-disabled) .two_col_dark.pr > a:last-child {
    display: none !important;
}
body:not(.gamasutra-beautifier-disabled) .item_body {
    clear: both !important;
}
body:not(.gamasutra-beautifier-disabled) .item_body:before {
    content: '';
    display: table;
}
body:not(.gamasutra-beautifier-disabled) #div-gpt-ad-sky1 {
    position: absolute;
    left: auto;
    top: 20px;
    right: calc(50% - 375px);
    transform: translate3d(100%,0,0);
}
body:not(.gamasutra-beautifier-disabled) .show-phone.clearfix > .span-5.center {
    display: block !important;
    width: 100% !important;
}
body:not(.gamasutra-beautifier-disabled) #div-gpt-ad-mobile_leaderboard > div {
    margin-bottom: 20px;
}
body:not(.gamasutra-beautifier-disabled) #div-gpt-ad-Ltile1 {
    position: absolute;
    right: auto;
    top: 20px;
    left: calc(50% - 375px);
    transform: translate3d(-100%,0,0);
}
body:not(.gamasutra-beautifier-disabled) #div-gpt-ad-rec1,
body:not(.gamasutra-beautifier-disabled) #div-gpt-ad-rec2 {
    padding: 20px 0 !important;
}
body:not(.gamasutra-beautifier-disabled) .main_btn.center {
    margin: 20px 0 !important;
}
body:not(.gamasutra-beautifier-disabled) .rightcol .two_col > hr,
body:not(.gamasutra-beautifier-disabled) .rightcol .two_col_dark > hr,
body:not(.gamasutra-beautifier-disabled) .content_box_middle .two_col > hr,
body:not(.gamasutra-beautifier-disabled) .main_news .span-7 > hr {
    display: none !important;
}
body:not(.gamasutra-beautifier-disabled) .content_bg {
    background: transparent !important;
}
body:not(.gamasutra-beautifier-disabled) .story_title {
    margin-top: 10px;
    padding-top: 10px;
    display: block !important;
}
body:not(.gamasutra-beautifier-disabled) .feed_item br {
    display: none !important;
}
body:not(.gamasutra-beautifier-disabled) .story_title:first-child {
    margin-top: 0;
    border-top: none;
}
body:not(.gamasutra-beautifier-disabled) .main_news .story_title {
    padding-left: 0 !important;
}
body:not(.gamasutra-beautifier-disabled) .main_news .story_title:first-child {
    padding-top: 0 !important;
}
body:not(.gamasutra-beautifier-disabled) .content_box_middle > .page_item {
    padding: 0 !important;
}
body:not(.gamasutra-beautifier-disabled) .content_box_middle .story_title {
    margin-bottom: 10px !important;
}
body:not(.gamasutra-beautifier-disabled) .feed_item .story_title {
    margin-top: 0 !important;
    margin-bottom: 5px !important;
}
body:not(.gamasutra-beautifier-disabled) {
    background: rgb(249, 249, 249) !important;
}
body:not(.gamasutra-beautifier-disabled) .two_col_dark,
body:not(.gamasutra-beautifier-disabled) .two_col {
    padding: 0 !important;
    margin-bottom: 0 !important;
    background-color: transparent !important;
}
body:not(.gamasutra-beautifier-disabled) h1.item_title {
    margin-bottom: 10px !important;
    text-align: center;
}
body:not(.gamasutra-beautifier-disabled) h3 {
    font-size: 18px;
}
body:not(.gamasutra-beautifier-disabled) img + h1.item_title {
    text-align: left;
}
body:not(.gamasutra-beautifier-disabled) h1.item_title + div {
    margin-bottom: 10px !important;
}
body:not(.gamasutra-beautifier-disabled) .page_item .pageNav,
body:not(.gamasutra-beautifier-disabled) .page_item .newsAuth {
    text-align: center;
    display: block;
}
body:not(.gamasutra-beautifier-disabled) .page_item > h1.item_title:first-child + div + div + hr + div > div > .comment_title {
    text-align: center;
    font-size: 12px;
    font-weight: normal;
    padding-bottom: 10px;    
}


body:not(.gamasutra-beautifier-disabled) div.container {
    background-color: #f9f9f9 !important;
    max-width: 100% !important;
    width: 100% !important;
    margin: 0 auto !important;
    float: none !important;
}

body:not(.gamasutra-beautifier-disabled) div.container.bottom3 {
    background: #029547 !important;
    width: 100%;
    max-width: 100% !important;
    margin: 10px 0 0 !important;
}
body:not(.gamasutra-beautifier-disabled) div.container .span-7 {
    width: auto;
    float: none;
}
body:not(.gamasutra-beautifier-disabled) div.container a[href="http://gamasutra.com"],
body:not(.gamasutra-beautifier-disabled) div.container a[href="http://www.gamasutra.com"],
body:not(.gamasutra-beautifier-disabled) div.container a[href="https://www.gamasutra.com"],
body:not(.gamasutra-beautifier-disabled) div.container a[href="https://gamasutra.com"] {
    display: flex;
    background: transparent url("data:image/svg+xml;utf8,<svg width='482px' height='147px' viewBox='0 0 482 147' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><defs><path d='M0.0311688312,62.6881692 L0.0311688312,57.6344277 C0.256531645,50.7168348 1.79651879,43.0671102 5.79012987,35.3709091 C9.07896104,34.721039 12.2020779,33.6238961 15.1168831,32.1709091 C15.3755844,32.0379221 15.6374026,31.9075325 15.892987,31.7683117 C16.2005195,31.6057143 16.4966234,31.4228571 16.7994805,31.2514286 C25.9438961,25.9361039 32.6441558,16.881039 34.7657143,6.1625974 C34.7657143,6.1625974 45.6798887,0.398999295 60.3825606,0.362597402 L60.662184,0.362597403 C68.0140872,0.380817412 76.2959471,1.83988449 84.6254545,6.1625974 C86.8005195,17.1548052 93.7916883,26.4005195 103.296104,31.6555844 L103.296104,31.7309091 C106.527273,33.4841558 110.029091,34.798961 113.751169,35.5350649 C118.198961,44.1080519 119.604156,52.6223377 119.538182,60.1324675 L119.542338,60.1324675 C119.542338,60.1953247 119.53974,60.2623377 119.53974,60.3251948 C119.53974,60.3890909 119.542338,60.4566234 119.542338,60.5194805 L119.538182,60.5194805 C119.604156,68.0285714 118.198961,76.5433766 113.751169,85.1168831 C109.901299,85.8768831 106.287792,87.2633766 102.964156,89.1080519 C93.7594805,94.4161039 87.0093506,103.500779 84.8784416,114.265455 C84.8784416,114.265455 60.1651948,127.316364 35.0192208,114.265455 C33.5688312,106.933506 29.9776623,100.373506 24.9293506,95.2561039 C24.8748052,95.2046753 24.8202597,95.1480519 24.7662338,95.0950649 C24.2348052,94.5636364 23.6872727,94.0488312 23.1257143,93.5506494 C22.5750649,93.0680519 22.0181818,92.5916883 21.44,92.1418182 C21.2025974,91.9537662 20.9568831,91.7771429 20.7153247,91.5948052 C16.3651948,88.3672727 11.305974,86.0431169 5.79012987,84.9511688 C1.79651879,77.2554341 0.256531645,69.6057572 0.0311688312,62.6881692 Z M59.7709091,93.3454545 C78.0716883,93.3454545 92.9075325,78.5101299 92.9075325,60.2098701 C92.9075325,41.9090909 78.0716883,27.0737662 59.7709091,27.0737662 C41.4706494,27.0737662 26.6353247,41.9090909 26.6353247,60.2098701 C26.6353247,78.5101299 41.4706494,93.3454545 59.7709091,93.3454545 Z' id='path-1'></path><path d='M53.6446753,26.9350649 C53.6446753,41.625974 41.7350649,53.5361039 27.0436364,53.5361039 C12.3527273,53.5361039 0.442597403,41.625974 0.442597403,26.9350649 C0.442597403,12.2436364 12.3527273,0.334025974 27.0436364,0.334025974 C41.7350649,0.334025974 53.6446753,12.2436364 53.6446753,26.9350649' id='path-3'></path><path d='M10.2841558,7.0561039 C10.2841558,8.42441558 10.9657143,9.10857143 12.3288312,9.10857143 L30.8644156,9.10857143 C31.4098701,9.10857143 31.7272727,9.28779221 31.8187013,9.64727273 C31.8202597,9.6025974 31.8202597,10.0961039 31.8187013,11.1277922 C31.8187013,11.6197403 31.7142857,12.0197403 31.5153247,12.3371429 C32.0353247,11.9974026 32.3054545,11.4374026 32.3054545,10.641039 C32.307013,9.60935065 32.307013,9.11636364 32.3054545,9.16051948 C32.214026,8.80207792 31.8966234,8.62181818 31.3511688,8.62181818 L12.8150649,8.62181818 C11.4524675,8.62181818 10.7709091,7.93818182 10.7709091,6.56935065 C10.7709091,6.03480519 10.8748052,5.60831169 11.0753247,5.28207792 C10.5490909,5.60051948 10.2841558,6.19064935 10.2841558,7.0561039 Z M34.6566234,1.73038961 L10.5620779,1.73038961 C9.87896104,1.73038961 9.24155844,1.79844156 8.64987013,1.93454545 C7.59168831,2.17350649 6.76519481,2.65142857 6.17194805,3.36935065 C6.70493506,2.91844156 7.36727273,2.6 8.16363636,2.42077922 C8.75428571,2.28519481 9.39220779,2.21714286 10.0753247,2.21714286 L34.1698701,2.21714286 C35.0124675,2.21714286 35.5932468,1.95428571 35.9158442,1.43272727 C35.5942857,1.63064935 35.1755844,1.73038961 34.6566234,1.73038961 Z M9.9574026,16.8332468 C9.05090909,16.7433766 7.75688312,16.5387013 6.07792208,16.2202597 C4.94337662,15.8571429 3.94545455,15.1761039 3.08415584,14.1771429 C1.45038961,12.3153247 0.633766234,9.99948052 0.633766234,7.22909091 C0.633766234,4.4587013 1.45194805,2.14285714 3.08831169,0.281038961 C3.14857143,0.211948052 3.21038961,0.147532468 3.27116883,0.081038961 C3.04,0.290909091 2.81662338,0.519480519 2.60155844,0.768311688 C0.965194805,2.63012987 0.147532468,4.94597403 0.147532468,7.71584416 C0.147532468,10.4862338 0.963636364,12.8015584 2.5974026,14.6638961 C3.4587013,15.6628571 4.45662338,16.3433766 5.59116883,16.705974 C7.27012987,17.0249351 8.56415584,17.2296104 9.47064935,17.32 L30.0238961,17.32 C31.7485714,17.32 33.2109091,16.7184416 34.412987,15.5163636 C34.4955844,15.4337662 34.5688312,15.347013 34.6457143,15.2618182 C33.492987,16.3049351 32.1163636,16.8332468 30.5101299,16.8332468 L9.9574026,16.8332468 Z' id='path-5'></path><linearGradient x1='49.9985477%' y1='51.2219376%' x2='49.9985477%' y2='113.324394%' id='linearGradient-7'><stop stop-color='%23222725' offset='0%'></stop><stop stop-color='%23181C1A' offset='33.3333333%'></stop><stop stop-color='%231D1F1D' offset='34.9206349%'></stop><stop stop-color='%231D1F1D' offset='36.5079365%'></stop><stop stop-color='%231E201E' offset='38.0952381%'></stop><stop stop-color='%231E201E' offset='41.2698413%'></stop><stop stop-color='%231F211F' offset='42.8571429%'></stop><stop stop-color='%231F211F' offset='44.4444444%'></stop><stop stop-color='%23202220' offset='46.031746%'></stop><stop stop-color='%23202220' offset='49.2063492%'></stop><stop stop-color='%23212221' offset='50.7936508%'></stop><stop stop-color='%23212221' offset='53.968254%'></stop><stop stop-color='%23222221' offset='55.5555556%'></stop><stop stop-color='%23222221' offset='57.1428571%'></stop><stop stop-color='%23212121' offset='58.7301587%'></stop><stop stop-color='%23212121' offset='61.9047619%'></stop><stop stop-color='%23202020' offset='63.4920635%'></stop><stop stop-color='%23202020' offset='65.0793651%'></stop><stop stop-color='%23202020' offset='66.6666667%'></stop><stop stop-color='%231A1919' offset='100%'></stop></linearGradient><path d='M2.02805195,15.2348052 C0.234805195,15.2348052 -0.165194805,14.0436364 1.1387013,12.5885714 L11.1885714,1.37090909 C12.4924675,-0.0846753247 14.625974,-0.0846753247 15.9298701,1.37090909 L25.9792208,12.5885714 C27.2836364,14.0436364 26.8831169,15.2348052 25.0903896,15.2348052 L2.02805195,15.2348052' id='path-8'></path><linearGradient x1='49.9995119%' y1='154.515362%' x2='49.9995119%' y2='-8.16617169%' id='linearGradient-10'><stop stop-color='%231F4F2C' offset='0%'></stop><stop stop-color='%23008142' offset='100%'></stop></linearGradient><path d='M0.236363636,2.11272727 C0.236363636,0.32 1.42701299,-0.08 2.88207792,1.2238961 L14.0997403,11.2732468 C15.5553247,12.5771429 15.5553247,14.7106494 14.0997403,16.0145455 L2.88207792,26.0644156 C1.42701299,27.3683117 0.236363636,26.9683117 0.236363636,25.1750649 L0.236363636,2.11272727' id='path-11'></path><path d='M25.1174026,0.197402597 C26.9106494,0.197402597 27.3101299,1.38805195 26.0067532,2.84415584 L15.9568831,14.0618182 C14.652987,15.5163636 12.5194805,15.5163636 11.2150649,14.0618182 L1.16571429,2.84415584 C-0.138181818,1.38805195 0.261298701,0.197402597 2.05506494,0.197402597 L25.1174026,0.197402597' id='path-13'></path><path d='M14.1849351,16.9787013 L28.4436364,16.9787013 L28.4436364,18.545974 C28.4436364,25.827013 27.3568831,31.0685714 25.1849351,34.2680519 C22.8155844,37.7631169 19.3127273,39.5096104 14.6748052,39.5096104 C10.1174026,39.5096104 6.54025974,37.7927273 3.9438961,34.3605195 C1.36363636,30.8955844 0.0737662338,26.1392208 0.0737662338,20.0903896 C0.0737662338,13.961039 1.37194805,9.13142857 3.96831169,5.60051948 C6.56415584,2.07012987 10.1174026,0.303896104 14.625974,0.303896104 C20.6036364,0.303896104 24.9387013,3.40051948 27.6348052,9.59116883 L17.7366234,13.2166234 C17.5896104,12.0249351 17.2503896,11.0825974 16.72,10.3880519 C16.1896104,9.69298701 15.5236364,9.34545455 14.7236364,9.34545455 C11.9148052,9.34545455 10.5096104,13.2363636 10.5096104,21.0166234 C10.5096104,24.3241558 10.8197403,26.7262338 11.4405195,28.2218182 C12.0612987,29.7194805 13.0493506,30.4680519 14.4051948,30.4680519 C14.9433766,30.4680519 15.4332468,30.3355844 15.8742857,30.0706494 C16.3158442,29.8062338 16.6877922,29.4332468 16.9896104,28.9548052 C17.2919481,28.4748052 17.5293506,27.8914286 17.7007792,27.2041558 C17.8716883,26.5184416 17.9579221,25.7527273 17.9579221,24.9090909 L14.1849351,24.9090909 L14.1849351,16.9787013' id='path-15'></path><path d='M17.1314286,24.9075325 L16.4696104,20.4981818 C16.4519481,20.4820779 16.4197403,20.2602597 16.3709091,19.8358442 C16.3387013,19.4763636 16.1677922,18.0555844 15.8571429,15.572987 C15.8233766,15.2950649 15.7818182,14.9148052 15.732987,14.4337662 C15.6846753,13.9522078 15.6197403,13.3438961 15.5381818,12.6083117 L15.2197403,9.03116883 C15.1864935,9.37558442 15.1407792,9.76 15.0846753,10.1838961 C15.027013,10.6088312 14.9672727,11.0742857 14.9012987,11.5802597 C14.785974,12.5916883 14.7049351,13.2950649 14.6561039,13.6867532 C14.6077922,14.0794805 14.574026,14.3163636 14.5574026,14.3979221 L13.8477922,18.9781818 L12.8181818,24.9075325 L17.1314286,24.9075325 Z M29.6498701,37.8031169 L19.0898701,37.8031169 L18.3298701,32.9864935 L11.4472727,32.9864935 L10.614026,37.8031169 L0.0550649351,37.8031169 L9.1438961,0.00623376623 L21.638961,0.00623376623 L29.6498701,37.8031169 Z' id='path-17'></path><path d='M40.4394805,37.8031169 L29.7241558,37.8031169 L28.9096104,20.5558442 L28.5927273,13.6716883 C28.4768831,14.9948052 28.345974,16.2571429 28.201039,17.4571429 C28.054026,18.6576623 27.8748052,19.8218182 27.6633766,20.9475325 L24.4664935,37.8031169 L16.1506494,37.8031169 L13.4062338,20.9231169 C13.2431169,19.9433766 13.0228571,18.2618182 12.7454545,15.8763636 C12.7122078,15.5174026 12.638961,14.7828571 12.5246753,13.6716883 L12.28,20.654026 L11.372987,37.8031169 L0.495584416,37.8031169 L4.90545455,0.00623376623 L17.6197403,0.00623376623 L19.7516883,12.7449351 C19.9303896,13.7911688 20.0903896,14.9257143 20.2285714,16.1511688 C20.3677922,17.3761039 20.4935065,18.705974 20.6093506,20.1433766 C20.8218182,17.7423377 21.1153247,15.5953247 21.4935065,13.7002597 L24.1018182,0.00623376623 L36.7646753,0.00623376623 L40.4394805,37.8031169' id='path-19'></path><path d='M17.0841558,24.9075325 L16.4228571,20.4981818 C16.4057143,20.4820779 16.372987,20.2602597 16.3241558,19.8358442 C16.2919481,19.4763636 16.1205195,18.0555844 15.8103896,15.572987 C15.7766234,15.2950649 15.7350649,14.9148052 15.6862338,14.4337662 C15.6384416,13.9522078 15.5724675,13.3438961 15.4914286,12.6083117 L15.172987,9.03116883 C15.1397403,9.37558442 15.0945455,9.76 15.0374026,10.1838961 C14.9802597,10.6088312 14.9194805,11.0742857 14.8550649,11.5802597 C14.7392208,12.5916883 14.6581818,13.2950649 14.6093506,13.6867532 C14.56,14.0794805 14.5277922,14.3163636 14.5106494,14.3979221 L13.801039,18.9781818 L12.7719481,24.9075325 L17.0841558,24.9075325 Z M29.6020779,37.8031169 L19.0431169,37.8031169 L18.2825974,32.9864935 L11.401039,32.9864935 L10.5667532,37.8031169 L0.00779220779,37.8031169 L9.09766234,0.00623376623 L21.5911688,0.00623376623 L29.6020779,37.8031169 Z' id='path-21'></path><path d='M0.610909091,37.92 L0.610909091,26.0545455 C2.62025974,28.798961 4.79168831,30.1709091 7.12779221,30.1709091 C8.00987013,30.1709091 8.72831169,29.9381818 9.28311688,29.4716883 C9.83792208,29.0062338 10.1163636,28.4212987 10.1163636,27.7179221 C10.1163636,26.7028571 9.51116883,25.7122078 8.30337662,24.7475325 L6.63688312,23.4462338 C5.52623377,22.6124675 4.57974026,21.7823377 3.79584416,20.9553247 C3.01194805,20.1298701 2.37454545,19.278961 1.88519481,18.4036364 C1.39376623,17.5277922 1.03480519,16.6249351 0.806753247,15.6909091 C0.577662338,14.758961 0.464415584,13.7771429 0.464415584,12.745974 C0.464415584,10.9792208 0.872207792,9.13142857 1.68935065,7.2 C2.09714286,6.3012987 2.57038961,5.47896104 3.11012987,4.73402597 C3.64779221,3.98961039 4.26857143,3.33090909 4.97246753,2.7574026 C6.8987013,1.12311688 9.22545455,0.303896104 11.9527273,0.303896104 C14.3864935,0.303896104 16.8374026,0.95012987 19.3033766,2.24 L19.3033766,13.8057143 C18.4701299,12.5158442 17.5220779,11.5007792 16.4612987,10.7574026 C15.4005195,10.014026 14.3537662,9.64207792 13.3257143,9.64207792 C12.5407792,9.64207792 11.8955844,9.87116883 11.3890909,10.3288312 C10.8664935,10.7709091 10.6062338,11.3018182 10.6062338,11.9220779 C10.6062338,12.9366234 11.2987013,13.9412987 12.6898701,14.9381818 L14.3049351,16.1407792 C16.4612987,17.6935065 18.0051948,19.2872727 18.9366234,20.9225974 C19.8841558,22.5574026 20.3574026,24.4690909 20.3574026,26.6597403 C20.3574026,30.3875325 19.2207792,33.4612987 16.9522078,35.8794805 C14.6805195,38.2997403 11.8067532,39.5096104 8.32779221,39.5096104 C5.92623377,39.5096104 3.35428571,38.9787013 0.610909091,37.92' id='path-23'></path><path d='M15.9038961,0.00623376623 L26.1194805,0.00623376623 L26.1194805,26.7423377 C26.1194805,28.9787013 25.7683117,30.7906494 25.0664935,32.1776623 C24.3802597,33.6311688 23.2379221,34.945974 21.6368831,36.1194805 C19.481039,37.6872727 16.8587013,38.4706494 13.774026,38.4706494 C10.2774026,38.4706494 7.34545455,37.6051948 4.9787013,35.8758442 C1.97246753,33.6716883 0.46961039,30.1454545 0.46961039,25.2976623 L0.46961039,0.00623376623 L10.6857143,0.00623376623 L10.6857143,24.3818182 C10.6857143,26.0316883 10.8857143,27.1968831 11.2867532,27.8820779 C11.6862338,28.5677922 12.3605195,28.9096104 13.3080519,28.9096104 C14.2877922,28.9096104 14.9651948,28.5922078 15.3407792,27.9558442 C15.7163636,27.2867532 15.9038961,26.1033766 15.9038961,24.4062338 L15.9038961,0.00623376623' id='path-25'></path><polyline id='path-27' points='16.067013 37.8031169 5.85090909 37.8031169 5.85090909 9.04779221 0.216103896 9.04779221 0.216103896 0.00623376623 21.921039 0.00623376623 21.921039 9.04779221 16.067013 9.04779221 16.067013 37.8031169'></polyline><path d='M10.3833766,17.5438961 L11.0701299,17.5438961 C12.2462338,17.5438961 13.2249351,17.0950649 14.0103896,16.1968831 C14.7932468,15.2981818 15.1854545,14.1553247 15.1854545,12.7667532 C15.1854545,9.9412987 13.7080519,8.52883117 10.7511688,8.52883117 L10.3833766,8.52883117 L10.3833766,17.5438961 Z M27.067013,37.8031169 L16.0187013,37.8031169 L10.9714286,24.3283117 C10.9220779,24.1007792 10.8368831,23.798961 10.7142857,23.4233766 C10.5906494,23.0477922 10.4405195,22.5984416 10.2607792,22.0748052 L10.3350649,24.5745455 L10.3350649,37.8031169 L0.168311688,37.8031169 L0.168311688,0.00623376623 L10.6301299,0.00623376623 C15.2342857,0.00623376623 18.68,0.912727273 20.9677922,2.72415584 C23.8742857,5.04103896 25.3272727,8.33766234 25.3272727,12.612987 C25.3272727,17.1823377 23.3745455,20.3402597 19.4716883,22.0872727 L27.067013,37.8031169 Z' id='path-29'></path><path d='M17.1418182,24.9075325 L16.4805195,20.4981818 C16.4623377,20.4820779 16.4301299,20.2602597 16.3818182,19.8358442 C16.3496104,19.4763636 16.1781818,18.0555844 15.8675325,15.572987 C15.8342857,15.2950649 15.7922078,14.9148052 15.7438961,14.4337662 C15.6950649,13.9522078 15.6296104,13.3438961 15.5490909,12.6083117 L15.2301299,9.03116883 C15.1963636,9.37558442 15.1516883,9.76 15.0950649,10.1838961 C15.0374026,10.6088312 14.9771429,11.0742857 14.9127273,11.5802597 C14.7968831,12.5916883 14.7153247,13.2950649 14.667013,13.6867532 C14.6187013,14.0794805 14.5844156,14.3163636 14.5683117,14.3979221 L13.8581818,18.9781818 L12.8285714,24.9075325 L17.1418182,24.9075325 Z M29.6607792,37.8031169 L19.1007792,37.8031169 L18.3418182,32.9864935 L11.4576623,32.9864935 L10.6238961,37.8031169 L0.0664935065,37.8031169 L9.15480519,0.00623376623 L21.6498701,0.00623376623 L29.6607792,37.8031169 Z' id='path-31'></path></defs><g id='Artboard-Copy-2' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'><g id='Group-2' transform='translate(40.000000, 12.000000)'><g id='Group-6' transform='translate(0.808568, 0.980519)'><mask id='mask-2' fill='white'><use xlink:href='%23path-1'></use></mask><use id='Clip-5' fill='%23FFFFFF' xlink:href='%23path-1'></use></g><g id='Group-9' transform='translate(33.535841, 34.746753)'><mask id='mask-4' fill='white'><use xlink:href='%23path-3'></use></mask><g id='Clip-8'></g><path d='M53.6446753,26.9350649 C53.6446753,41.625974 41.7350649,53.5361039 27.0436364,53.5361039 C12.3527273,53.5361039 0.442597403,41.625974 0.442597403,26.9350649 C0.442597403,12.2436364 12.3527273,0.334025974 27.0436364,0.334025974 C41.7350649,0.334025974 53.6446753,12.2436364 53.6446753,26.9350649' id='Fill-7' fill='%23262B29' mask='url(%23mask-4)'></path></g><path d='M78.6127242,65.0922078 C78.6127242,66.8168831 78.0111658,68.2797403 76.8090879,69.4823377 C75.6070099,70.6833766 74.1436333,71.2854545 72.4194775,71.2854545 L51.8667502,71.2854545 C50.9597372,71.1950649 49.6657112,70.9903896 47.9872697,70.6724675 C46.8527242,70.3088312 45.8542827,69.6277922 44.992984,68.6288312 C43.3597372,66.7675325 42.5431138,64.4516883 42.5431138,61.6818182 C42.5431138,58.9109091 43.3607762,56.5950649 44.9976593,54.7337662 C45.8610359,53.7342857 46.8615554,53.0542857 47.9976593,52.6901299 L51.8844125,52.0776623 L76.6355814,52.0776623 C77.9535034,52.0776623 78.6127242,52.7612987 78.6127242,54.1301299 C78.6127242,55.498961 77.9301268,56.1825974 76.5654515,56.1825974 L52.470906,56.1825974 C51.7883086,56.1825974 51.1503866,56.2506494 50.5592177,56.3862338 C48.1477892,56.9290909 46.9420749,58.7171429 46.9420749,61.7493506 C46.9420749,64.645974 48.1462307,66.3872727 50.5555814,66.9758442 C51.1457112,67.1119481 51.7820749,67.1794805 52.4646723,67.1794805 L71.8272697,67.1794805 C73.417919,67.1794805 74.2142827,66.4849351 74.2142827,65.0932468 C74.2163606,64.061039 74.2163606,63.5680519 74.2142827,63.6127273 C74.1228541,63.2527273 73.8054515,63.074026 73.259997,63.074026 L54.7244125,63.074026 C53.3612957,63.074026 52.6802567,62.3893506 52.6802567,61.0215584 C52.6802567,59.6537662 53.337919,58.9685714 54.6542827,58.9685714 L75.8225944,58.9685714 C77.2740229,58.9685714 78.1592177,59.5592208 78.4771398,60.7374026 C78.5670099,61.1020779 78.6127242,62.552987 78.6127242,65.0922078' id='Fill-10' fill='%23FFFFFE'></path><g id='Group-13' transform='translate(42.367010, 53.967532)'><mask id='mask-6' fill='white'><use xlink:href='%23path-5'></use></mask><g id='Clip-12'></g><path d='M10.2841558,7.0561039 C10.2841558,8.42441558 10.9657143,9.10857143 12.3288312,9.10857143 L30.8644156,9.10857143 C31.4098701,9.10857143 31.7272727,9.28779221 31.8187013,9.64727273 C31.8202597,9.6025974 31.8202597,10.0961039 31.8187013,11.1277922 C31.8187013,11.6197403 31.7142857,12.0197403 31.5153247,12.3371429 C32.0353247,11.9974026 32.3054545,11.4374026 32.3054545,10.641039 C32.307013,9.60935065 32.307013,9.11636364 32.3054545,9.16051948 C32.214026,8.80207792 31.8966234,8.62181818 31.3511688,8.62181818 L12.8150649,8.62181818 C11.4524675,8.62181818 10.7709091,7.93818182 10.7709091,6.56935065 C10.7709091,6.03480519 10.8748052,5.60831169 11.0753247,5.28207792 C10.5490909,5.60051948 10.2841558,6.19064935 10.2841558,7.0561039 Z M34.6566234,1.73038961 L10.5620779,1.73038961 C9.87896104,1.73038961 9.24155844,1.79844156 8.64987013,1.93454545 C7.59168831,2.17350649 6.76519481,2.65142857 6.17194805,3.36935065 C6.70493506,2.91844156 7.36727273,2.6 8.16363636,2.42077922 C8.75428571,2.28519481 9.39220779,2.21714286 10.0753247,2.21714286 L34.1698701,2.21714286 C35.0124675,2.21714286 35.5932468,1.95428571 35.9158442,1.43272727 C35.5942857,1.63064935 35.1755844,1.73038961 34.6566234,1.73038961 Z M9.9574026,16.8332468 C9.05090909,16.7433766 7.75688312,16.5387013 6.07792208,16.2202597 C4.94337662,15.8571429 3.94545455,15.1761039 3.08415584,14.1771429 C1.45038961,12.3153247 0.633766234,9.99948052 0.633766234,7.22909091 C0.633766234,4.4587013 1.45194805,2.14285714 3.08831169,0.281038961 C3.14857143,0.211948052 3.21038961,0.147532468 3.27116883,0.081038961 C3.04,0.290909091 2.81662338,0.519480519 2.60155844,0.768311688 C0.965194805,2.63012987 0.147532468,4.94597403 0.147532468,7.71584416 C0.147532468,10.4862338 0.963636364,12.8015584 2.5974026,14.6638961 C3.4587013,15.6628571 4.45662338,16.3433766 5.59116883,16.705974 C7.27012987,17.0249351 8.56415584,17.2296104 9.47064935,17.32 L30.0238961,17.32 C31.7485714,17.32 33.2109091,16.7184416 34.412987,15.5163636 C34.4955844,15.4337662 34.5688312,15.347013 34.6457143,15.2618182 C33.492987,16.3049351 32.1163636,16.8332468 30.5101299,16.8332468 L9.9574026,16.8332468 Z' id='Fill-11' fill='url(%23linearGradient-7)' mask='url(%23mask-6)'></path></g><g id='Group-18' transform='translate(47.561815, 4.097403)'><mask id='mask-9' fill='white'><use xlink:href='%23path-8'></use></mask><g id='Clip-17'></g><path d='M2.02805195,15.2348052 C0.234805195,15.2348052 -0.165194805,14.0436364 1.1387013,12.5885714 L11.1885714,1.37090909 C12.4924675,-0.0846753247 14.625974,-0.0846753247 15.9298701,1.37090909 L25.9792208,12.5885714 C27.2836364,14.0436364 26.8831169,15.2348052 25.0903896,15.2348052 L2.02805195,15.2348052' id='Fill-16' fill='url(%23linearGradient-10)' mask='url(%23mask-9)'></path></g><path d='M49.5898671,19.3322078 C47.7966203,19.3322078 47.3966203,18.141039 48.7005164,16.685974 L58.7503866,5.46831169 C60.0542827,4.01272727 62.1877892,4.01272727 63.4916853,5.46831169 L73.5410359,16.685974 C74.8454515,18.141039 74.444932,19.3322078 72.6522047,19.3322078 L49.5898671,19.3322078 Z' id='Stroke-19' fill='%23015729'></path><g id='Group-25' transform='translate(100.548828, 47.214286)'><mask id='mask-12' fill='white'><use xlink:href='%23path-11'></use></mask><use id='Clip-24' fill='%23015729' xlink:href='%23path-11'></use></g><path d='M100.785192,49.327013 C100.785192,47.5342857 101.975841,47.1342857 103.430906,48.4381818 L114.648568,58.4875325 C116.104153,59.7914286 116.104153,61.9249351 114.648568,63.2288312 L103.430906,73.2787013 C101.975841,74.5825974 100.785192,74.1825974 100.785192,72.3893506 L100.785192,49.327013 Z' id='Stroke-26' fill='%23015729'></path><path d='M19.5540229,72.3893506 C19.5540229,74.1820779 18.3633736,74.5820779 16.9077892,73.2781818 L5.69012683,63.2283117 C4.23454241,61.9249351 4.23454241,59.7909091 5.69012683,58.487013 L16.9077892,48.4376623 C18.3633736,47.1337662 19.5540229,47.5332468 19.5540229,49.327013 L19.5540229,72.3893506 Z' id='Stroke-33' fill='%23015729'></path><g id='Group-39' transform='translate(47.561815, 102.798701)'><mask id='mask-14' fill='white'><use xlink:href='%23path-13'></use></mask><use id='Clip-38' fill='%23015729' xlink:href='%23path-13'></use></g><path d='M72.6792177,102.996104 C74.4724645,102.996104 74.871945,104.186753 73.5685684,105.642857 L63.5186983,116.860519 C62.2148022,118.315065 60.0812957,118.315065 58.7768801,116.860519 L48.7275294,105.642857 C47.4236333,104.186753 47.8231138,102.996104 49.6168801,102.996104 L72.6792177,102.996104 Z' id='Stroke-40' fill='%23015729'></path></g><g id='Group' transform='translate(171.000000, 53.000000)'><g id='Group-46' transform='translate(0.581042, 0.681558)'><mask id='mask-16' fill='white'><use xlink:href='%23path-15'></use></mask><g id='Clip-45'></g><path d='M14.1849351,16.9787013 L28.4436364,16.9787013 L28.4436364,18.545974 C28.4436364,25.827013 27.3568831,31.0685714 25.1849351,34.2680519 C22.8155844,37.7631169 19.3127273,39.5096104 14.6748052,39.5096104 C10.1174026,39.5096104 6.54025974,37.7927273 3.9438961,34.3605195 C1.36363636,30.8955844 0.0737662338,26.1392208 0.0737662338,20.0903896 C0.0737662338,13.961039 1.37194805,9.13142857 3.96831169,5.60051948 C6.56415584,2.07012987 10.1174026,0.303896104 14.625974,0.303896104 C20.6036364,0.303896104 24.9387013,3.40051948 27.6348052,9.59116883 L17.7366234,13.2166234 C17.5896104,12.0249351 17.2503896,11.0825974 16.72,10.3880519 C16.1896104,9.69298701 15.5236364,9.34545455 14.7236364,9.34545455 C11.9148052,9.34545455 10.5096104,13.2363636 10.5096104,21.0166234 C10.5096104,24.3241558 10.8197403,26.7262338 11.4405195,28.2218182 C12.0612987,29.7194805 13.0493506,30.4680519 14.4051948,30.4680519 C14.9433766,30.4680519 15.4332468,30.3355844 15.8742857,30.0706494 C16.3158442,29.8062338 16.6877922,29.4332468 16.9896104,28.9548052 C17.2919481,28.4748052 17.5293506,27.8914286 17.7007792,27.2041558 C17.8716883,26.5184416 17.9579221,25.7527273 17.9579221,24.9090909 L14.1849351,24.9090909 L14.1849351,16.9787013' id='Fill-44' fill='%23FFFFFF' mask='url(%23mask-16)'></path></g><g id='Group-49' transform='translate(30.191432, 1.720519)'><mask id='mask-18' fill='white'><use xlink:href='%23path-17'></use></mask><g id='Clip-48'></g><path d='M17.1314286,24.9075325 L16.4696104,20.4981818 C16.4519481,20.4820779 16.4197403,20.2602597 16.3709091,19.8358442 C16.3387013,19.4763636 16.1677922,18.0555844 15.8571429,15.572987 C15.8233766,15.2950649 15.7818182,14.9148052 15.732987,14.4337662 C15.6846753,13.9522078 15.6197403,13.3438961 15.5381818,12.6083117 L15.2197403,9.03116883 C15.1864935,9.37558442 15.1407792,9.76 15.0846753,10.1838961 C15.027013,10.6088312 14.9672727,11.0742857 14.9012987,11.5802597 C14.785974,12.5916883 14.7049351,13.2950649 14.6561039,13.6867532 C14.6077922,14.0794805 14.574026,14.3163636 14.5574026,14.3979221 L13.8477922,18.9781818 L12.8181818,24.9075325 L17.1314286,24.9075325 Z M29.6498701,37.8031169 L19.0898701,37.8031169 L18.3298701,32.9864935 L11.4472727,32.9864935 L10.614026,37.8031169 L0.0550649351,37.8031169 L9.1438961,0.00623376623 L21.638961,0.00623376623 L29.6498701,37.8031169 Z' id='Fill-47' fill='%23FFFFFF' mask='url(%23mask-18)'></path></g><g id='Group-52' transform='translate(61.360263, 1.720519)'><mask id='mask-20' fill='white'><use xlink:href='%23path-19'></use></mask><g id='Clip-51'></g><path d='M40.4394805,37.8031169 L29.7241558,37.8031169 L28.9096104,20.5558442 L28.5927273,13.6716883 C28.4768831,14.9948052 28.345974,16.2571429 28.201039,17.4571429 C28.054026,18.6576623 27.8748052,19.8218182 27.6633766,20.9475325 L24.4664935,37.8031169 L16.1506494,37.8031169 L13.4062338,20.9231169 C13.2431169,19.9433766 13.0228571,18.2618182 12.7454545,15.8763636 C12.7122078,15.5174026 12.638961,14.7828571 12.5246753,13.6716883 L12.28,20.654026 L11.372987,37.8031169 L0.495584416,37.8031169 L4.90545455,0.00623376623 L17.6197403,0.00623376623 L19.7516883,12.7449351 C19.9303896,13.7911688 20.0903896,14.9257143 20.2285714,16.1511688 C20.3677922,17.3761039 20.4935065,18.705974 20.6093506,20.1433766 C20.8218182,17.7423377 21.1153247,15.5953247 21.4935065,13.7002597 L24.1018182,0.00623376623 L36.7646753,0.00623376623 L40.4394805,37.8031169' id='Fill-50' fill='%23FFFFFF' mask='url(%23mask-20)'></path></g><g id='Group-55' transform='translate(103.957665, 1.720519)'><mask id='mask-22' fill='white'><use xlink:href='%23path-21'></use></mask><g id='Clip-54'></g><path d='M17.0841558,24.9075325 L16.4228571,20.4981818 C16.4057143,20.4820779 16.372987,20.2602597 16.3241558,19.8358442 C16.2919481,19.4763636 16.1205195,18.0555844 15.8103896,15.572987 C15.7766234,15.2950649 15.7350649,14.9148052 15.6862338,14.4337662 C15.6384416,13.9522078 15.5724675,13.3438961 15.4914286,12.6083117 L15.172987,9.03116883 C15.1397403,9.37558442 15.0945455,9.76 15.0374026,10.1838961 C14.9802597,10.6088312 14.9194805,11.0742857 14.8550649,11.5802597 C14.7392208,12.5916883 14.6581818,13.2950649 14.6093506,13.6867532 C14.56,14.0794805 14.5277922,14.3163636 14.5106494,14.3979221 L13.801039,18.9781818 L12.7719481,24.9075325 L17.0841558,24.9075325 Z M29.6020779,37.8031169 L19.0431169,37.8031169 L18.2825974,32.9864935 L11.401039,32.9864935 L10.5667532,37.8031169 L0.00779220779,37.8031169 L9.09766234,0.00623376623 L21.5911688,0.00623376623 L29.6020779,37.8031169 Z' id='Fill-53' fill='%23FFFFFF' mask='url(%23mask-22)'></path></g><g id='Group-58' transform='translate(135.126497, 0.681558)'><mask id='mask-24' fill='white'><use xlink:href='%23path-23'></use></mask><g id='Clip-57'></g><path d='M0.610909091,37.92 L0.610909091,26.0545455 C2.62025974,28.798961 4.79168831,30.1709091 7.12779221,30.1709091 C8.00987013,30.1709091 8.72831169,29.9381818 9.28311688,29.4716883 C9.83792208,29.0062338 10.1163636,28.4212987 10.1163636,27.7179221 C10.1163636,26.7028571 9.51116883,25.7122078 8.30337662,24.7475325 L6.63688312,23.4462338 C5.52623377,22.6124675 4.57974026,21.7823377 3.79584416,20.9553247 C3.01194805,20.1298701 2.37454545,19.278961 1.88519481,18.4036364 C1.39376623,17.5277922 1.03480519,16.6249351 0.806753247,15.6909091 C0.577662338,14.758961 0.464415584,13.7771429 0.464415584,12.745974 C0.464415584,10.9792208 0.872207792,9.13142857 1.68935065,7.2 C2.09714286,6.3012987 2.57038961,5.47896104 3.11012987,4.73402597 C3.64779221,3.98961039 4.26857143,3.33090909 4.97246753,2.7574026 C6.8987013,1.12311688 9.22545455,0.303896104 11.9527273,0.303896104 C14.3864935,0.303896104 16.8374026,0.95012987 19.3033766,2.24 L19.3033766,13.8057143 C18.4701299,12.5158442 17.5220779,11.5007792 16.4612987,10.7574026 C15.4005195,10.014026 14.3537662,9.64207792 13.3257143,9.64207792 C12.5407792,9.64207792 11.8955844,9.87116883 11.3890909,10.3288312 C10.8664935,10.7709091 10.6062338,11.3018182 10.6062338,11.9220779 C10.6062338,12.9366234 11.2987013,13.9412987 12.6898701,14.9381818 L14.3049351,16.1407792 C16.4612987,17.6935065 18.0051948,19.2872727 18.9366234,20.9225974 C19.8841558,22.5574026 20.3574026,24.4690909 20.3574026,26.6597403 C20.3574026,30.3875325 19.2207792,33.4612987 16.9522078,35.8794805 C14.6805195,38.2997403 11.8067532,39.5096104 8.32779221,39.5096104 C5.92623377,39.5096104 3.35428571,38.9787013 0.610909091,37.92' id='Fill-56' fill='%23FFFFFF' mask='url(%23mask-24)'></path></g><g id='Group-61' transform='translate(159.022600, 1.720519)'><mask id='mask-26' fill='white'><use xlink:href='%23path-25'></use></mask><g id='Clip-60'></g><path d='M15.9038961,0.00623376623 L26.1194805,0.00623376623 L26.1194805,26.7423377 C26.1194805,28.9787013 25.7683117,30.7906494 25.0664935,32.1776623 C24.3802597,33.6311688 23.2379221,34.945974 21.6368831,36.1194805 C19.481039,37.6872727 16.8587013,38.4706494 13.774026,38.4706494 C10.2774026,38.4706494 7.34545455,37.6051948 4.9787013,35.8758442 C1.97246753,33.6716883 0.46961039,30.1454545 0.46961039,25.2976623 L0.46961039,0.00623376623 L10.6857143,0.00623376623 L10.6857143,24.3818182 C10.6857143,26.0316883 10.8857143,27.1968831 11.2867532,27.8820779 C11.6862338,28.5677922 12.3605195,28.9096104 13.3080519,28.9096104 C14.2877922,28.9096104 14.9651948,28.5922078 15.3407792,27.9558442 C15.7163636,27.2867532 15.9038961,26.1033766 15.9038961,24.4062338 L15.9038961,0.00623376623' id='Fill-59' fill='%23FFFFFF' mask='url(%23mask-26)'></path></g><g id='Group-64' transform='translate(187.594029, 1.720519)'><mask id='mask-28' fill='white'><use xlink:href='%23path-27'></use></mask><g id='Clip-63'></g><polyline id='Fill-62' fill='%23FFFFFF' mask='url(%23mask-28)' points='16.067013 37.8031169 5.85090909 37.8031169 5.85090909 9.04779221 0.216103896 9.04779221 0.216103896 0.00623376623 21.921039 0.00623376623 21.921039 9.04779221 16.067013 9.04779221 16.067013 37.8031169'></polyline></g><g id='Group-67' transform='translate(212.009613, 1.720519)'><mask id='mask-30' fill='white'><use xlink:href='%23path-29'></use></mask><g id='Clip-66'></g><path d='M10.3833766,17.5438961 L11.0701299,17.5438961 C12.2462338,17.5438961 13.2249351,17.0950649 14.0103896,16.1968831 C14.7932468,15.2981818 15.1854545,14.1553247 15.1854545,12.7667532 C15.1854545,9.9412987 13.7080519,8.52883117 10.7511688,8.52883117 L10.3833766,8.52883117 L10.3833766,17.5438961 Z M27.067013,37.8031169 L16.0187013,37.8031169 L10.9714286,24.3283117 C10.9220779,24.1007792 10.8368831,23.798961 10.7142857,23.4233766 C10.5906494,23.0477922 10.4405195,22.5984416 10.2607792,22.0748052 L10.3350649,24.5745455 L10.3350649,37.8031169 L0.168311688,37.8031169 L0.168311688,0.00623376623 L10.6301299,0.00623376623 C15.2342857,0.00623376623 18.68,0.912727273 20.9677922,2.72415584 C23.8742857,5.04103896 25.3272727,8.33766234 25.3272727,12.612987 C25.3272727,17.1823377 23.3745455,20.3402597 19.4716883,22.0872727 L27.067013,37.8031169 Z' id='Fill-65' fill='%23FFFFFF' mask='url(%23mask-30)'></path></g><g id='Group-70' transform='translate(240.061561, 1.720519)'><mask id='mask-32' fill='white'><use xlink:href='%23path-31'></use></mask><g id='Clip-69'></g><path d='M17.1418182,24.9075325 L16.4805195,20.4981818 C16.4623377,20.4820779 16.4301299,20.2602597 16.3818182,19.8358442 C16.3496104,19.4763636 16.1781818,18.0555844 15.8675325,15.572987 C15.8342857,15.2950649 15.7922078,14.9148052 15.7438961,14.4337662 C15.6950649,13.9522078 15.6296104,13.3438961 15.5490909,12.6083117 L15.2301299,9.03116883 C15.1963636,9.37558442 15.1516883,9.76 15.0950649,10.1838961 C15.0374026,10.6088312 14.9771429,11.0742857 14.9127273,11.5802597 C14.7968831,12.5916883 14.7153247,13.2950649 14.667013,13.6867532 C14.6187013,14.0794805 14.5844156,14.3163636 14.5683117,14.3979221 L13.8581818,18.9781818 L12.8285714,24.9075325 L17.1418182,24.9075325 Z M29.6607792,37.8031169 L19.1007792,37.8031169 L18.3418182,32.9864935 L11.4576623,32.9864935 L10.6238961,37.8031169 L0.0664935065,37.8031169 L9.15480519,0.00623376623 L21.6498701,0.00623376623 L29.6607792,37.8031169 Z' id='Fill-68' fill='%23FFFFFF' mask='url(%23mask-32)'></path></g></g></g></svg>") no-repeat center center;  
    background-size: 100%;
    background-position: center;
    width: 230px;
    height: 77px;
    margin: 0 auto !important;
    padding: 0;
}
body:not(.gamasutra-beautifier-disabled) div.container a[href="http://gamasutra.com"] img,
body:not(.gamasutra-beautifier-disabled) div.container a[href="http://www.gamasutra.com"] img,
body:not(.gamasutra-beautifier-disabled) div.container a[href="https://gamasutra.com"] img,
body:not(.gamasutra-beautifier-disabled) div.container a[href="https://www.gamasutra.com"] img {
    display: none !important;
}
body:not(.gamasutra-beautifier-disabled) div.item_body img {
    width: auto !important;
    height: auto !important;
    max-width: 100% !important;
    float: none !important;
    margin: 10px auto !important;
}
body:not(.gamasutra-beautifier-disabled) div.content_box_left .thumb img {
    width: 100% !important;
    height: auto !important;    
}
body:not(.gamasutra-beautifier-disabled) div.span-20,
body:not(.gamasutra-beautifier-disabled) div.span-8,
body:not(.gamasutra-beautifier-disabled) div.span-16,
body:not(.gamasutra-beautifier-disabled) #tophead {
    width: auto !important;
    margin-right: 0 !important;
    float: none !important;
}
body:not(.gamasutra-beautifier-disabled) div.container .span-20 {
    max-width: 700px !important;
    margin: 0 auto !important;
    padding: 20px !important;
    display: block !important;
}
body:not(.gamasutra-beautifier-disabled) div.container .span-20.last {
    padding: 0 !important;
}
body:not(.gamasutra-beautifier-disabled) .content_box_middle {
    background: #f9f9f9 !important;
    border: none !important;
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeLegibility;                         
}
body:not(.gamasutra-beautifier-disabled) .mobile_image_transform {
    font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 21px;
    letter-spacing: -0.004em;
    line-height: 1.58;
    font-weight: 400;
    overflow-wrap: break-word;
    word-break: break-word;
    text-rendering: optimizeLegibility;
}
body:not(.gamasutra-beautifier-disabled) .mobile_image_transform p,
body:not(.gamasutra-beautifier-disabled) .mobile_image_transform ul {
    margin: 2em 0 0 0;    
}
body:not(.gamasutra-beautifier-disabled) .mobile_image_transform p a {
    color: inherit;
}
body:not(.gamasutra-beautifier-disabled) .mobile_image_transform p > br {
    margin-bottom: 0 !important;
}
body:not(.gamasutra-beautifier-disabled) .mobile_image_transform h1 {
    font-size: 25px;
}
body:not(.gamasutra-beautifier-disabled) .item_body img {
    display: flex;
    margin: 20px auto;
}
body:not(.gamasutra-beautifier-disabled) .content_box_middle .hide-phone img {
    display: block;
    width: auto;
    margin: 20px auto;
}
body:not(.gamasutra-beautifier-disabled) div.item_body.mobile_image_transform em img {
    width: auto !important;
    height: auto !important;
    float: none !important;
    padding: 0 !important;
    display: block !important;
    margin: 0 auto 20px !important;    
}
body:not(.gamasutra-beautifier-disabled) div.item_body br {
    margin-bottom: 20px;
}
body:not(.gamasutra-beautifier-disabled) div.item_body blockquote {
    font-size: inherit !important;
    border-left: 10px solid #ddd;
    padding-left: 20px;
}
}
body:not(.gamasutra-beautifier-disabled) .page_data_1 p:last-child {
    margin-bottom: 0;
}
body:not(.gamasutra-beautifier-disabled) div.container h2 {
    font-size: 16px !important;
}
body:not(.gamasutra-beautifier-disabled) .two_col > h3.center,
body:not(.gamasutra-beautifier-disabled) .two_col_dark > h3.center,
body:not(.gamasutra-beautifier-disabled) .two_col_dark > a img,
body:not(.gamasutra-beautifier-disabled) .two_col > a img {
    display: none !important;
}
body:not(.gamasutra-beautifier-disabled) .main_news .story_title {
    height: auto !important;
}
body:not(.gamasutra-beautifier-disabled) .two_col .story_title {
    display: block !important;
}
body:not(.gamasutra-beautifier-disabled) iframe,
body:not(.gamasutra-beautifier-disabled) twitterwidget {
    margin: 0 auto;
    display: block;    
}
body:not(.gamasutra-beautifier-disabled) iframe[src*="youtube.com"] {
    width: 100% !important;
    margin: 10px 0 !important;
    height: 393px !important;
}
body:not(.gamasutra-beautifier-disabled) tt,
body:not(.gamasutra-beautifier-disabled) pre {
    background: #333 !important;
    color: #fff !important;
    padding: 10px !important;
    margin: 0 0 10px !important;
}
body:not(.gamasutra-beautifier-disabled) tt {
    display: block;
}
body:not(.gamasutra-beautifier-disabled) footer {
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    transition: all 100ms ease-in;
    position: absolute;
    right: 10px;
    top: 0;
    background: none;
    color: #fff;    
    text-align: right;
}
body:not(.gamasutra-beautifier-disabled) footer a {
    display: block;
    padding: 10px;
    color: #fff;
}
body:not(.gamasutra-beautifier-disabled) footer a:hover {
    text-decoration: underline;
}
body:not(.gamasutra-beautifier-disabled) .container.bottom3 .span-7 {
    position: relative;
    margin: 0;
}
body:not(.gamasutra-beautifier-disabled) div.content_bg .page_item span.left .blogtype {
    text-align: left !important;
}
body:not(.gamasutra-beautifier-disabled) div.content_box_middle div.page_item .clear:not(br) {
    display: block !important;
}
body:not(.gamasutra-beautifier-disabled) div.content_box_middle div.page_item span.left:nth-child(2) {
    float: none !important;
}
body:not(.gamasutra-beautifier-disabled) div.content_box_middle div.page_item span.left {
    float: left !important;
}
body:not(.gamasutra-beautifier-disabled) div.content_box_middle div.page_item span.left .right10 {
    display: block;
}
body:not(.gamasutra-beautifier-disabled) .content_bg .page_item .right10 .portrait {
    margin: 0 auto;
    display: block;
}
body:not(.gamasutra-beautifier-disabled) span.left + div.item_body.mobile_image_transform {
    clear: initial !important;
}

/* Comments */

body:not(.gamasutra-beautifier-disabled) img[src="/ajax-loader.gif"],
body:not(.gamasutra-beautifier-disabled) #dynamiccomments > br,
body:not(.gamasutra-beautifier-disabled) #comment_form > hr,
body:not(.gamasutra-beautifier-disabled) #comment_form > br,
body:not(.gamasutra-beautifier-disabled) a[name="comments"],
body:not(.gamasutra-beautifier-disabled) #dynamiccomments .parentComment:nth-child(3) .hr_comment {
    display: none !important;
}
body:not(.gamasutra-beautifier-disabled) .hr_comment {
    border: none !important;
    background: none !important;
}
body:not(.gamasutra-beautifier-disabled) .commentBox td[style*="background-color:#dcebdc; padding: 5px; text-align"] {
    font-weight: bold !important;
}
body:not(.gamasutra-beautifier-disabled) .commentBox {
    margin-top: 10px !important;
}
body:not(.gamasutra-beautifier-disabled) .commentBox img[alt="profile image"]:not([src$="questionmark.jpg"]) {
    margin-right: 20px !important;
    padding: 0 !important;
}
body:not(.gamasutra-beautifier-disabled) .commentBox img[alt="profile image"]:not([src$="questionmark.jpg"]) {
    border-radius: 37.5px;
}
body:not(.gamasutra-beautifier-disabled) div[id$="_replyLink"],
body:not(.gamasutra-beautifier-disabled) div[id$="_replyForm"] {
    background: #f0f0f0 !important;
    padding: 10px !important;
}
body:not(.gamasutra-beautifier-disabled) #website_comment > div[style*="display:inline"]:after,
body:not(.gamasutra-beautifier-disabled) div[id$="_replyLink"] > div[style*="display:inline"]:after,
body:not(.gamasutra-beautifier-disabled) #no_reply_button > div[style*="display:inline"]:after {
    content: '👍';
}
body:not(.gamasutra-beautifier-disabled) #website_comment > div > img,
body:not(.gamasutra-beautifier-disabled) div[id$="_replyLink"] > div > img,
body:not(.gamasutra-beautifier-disabled) #no_reply_button > div > img {
    display: none !important;
}
body:not(.gamasutra-beautifier-disabled) #no_comment_form {
    text-align: center;
}
body:not(.gamasutra-beautifier-disabled) #no_comment_form br,
body:not(.gamasutra-beautifier-disabled) #no_comment_form .comment_login a img[alt="Login to Comment"] {
    display: none !important;
}
body:not(.gamasutra-beautifier-disabled) #no_comment_form .comment_login a:after {
    content: 'Login to Comment';
    margin: 20px auto;
}
body:not(.gamasutra-beautifier-disabled) .comment_submit,
body:not(.gamasutra-beautifier-disabled) #no_comment_form .comment_login a:after {
    background-color: rgb(2, 149, 71) !important;
    padding: 10px !important;
    color: #fff !important;
    border-radius: 5px !important;
    display: inline-block !important;
}
body:not(.gamasutra-beautifier-disabled) .comment_submit:hover,
body:not(.gamasutra-beautifier-disabled) #no_comment_form .comment_login a:hover:after { 
    background-color: #22522a !important;
}
body:not(.gamasutra-beautifier-disabled) #user_name_comment {
    margin-top: 20px;
}
body:not(.gamasutra-beautifier-disabled) #user_name_comment:before {
    content: 'Posting as ';
}
body:not(.gamasutra-beautifier-disabled) #user_name_comment font[color="red"] {
    padding: 10px;
    display: block;
    margin-top: 10px;
    background-color: #f0f0f0;
    color: #d02f2f !important;
}
body:not(.gamasutra-beautifier-disabled) #user_name_comment font[color="red"] a {
    color: #d02f2f !important;
    text-decoration: underline;
}
body:not(.gamasutra-beautifier-disabled) #user_name_comment font[color="red"] a:hover {
    text-decoration: none;
}
body:not(.gamasutra-beautifier-disabled) .replyComment .commentBox {
    width: 90% !important;
}
body:not(.gamasutra-beautifier-disabled) .replyComment .commentBox:first-child tbody tr:nth-child(2) td,
body:not(.gamasutra-beautifier-disabled) .parentComment .commentBox:first-child tbody tr:nth-child(2) td {
    background: transparent !important;
    border-bottom: 2px solid #f0f0f0;
    padding-bottom: 0 !important;
    padding: 0 !important;
}
body:not(.gamasutra-beautifier-disabled) .replyComment .commentBox .date_comment,
body:not(.gamasutra-beautifier-disabled) .parentComment .commentBox .date_comment {
    background: transparent;
}
body:not(.gamasutra-beautifier-disabled) .single_comment {
    width: auto !important;
}

/* Featured */

body:not(.gamasutra-beautifier-disabled) img[src$="exclusive_btn.gif"],
body:not(.gamasutra-beautifier-disabled) img[src$="editorIcon_gamaBlog.gif"],
body:not(.gamasutra-beautifier-disabled) .editor br,
body:not(.gamasutra-beautifier-disabled) img[src$="featuredIcon_gamaBlog_dark.gif"] {
    display: none !important;
}
body:not(.gamasutra-beautifier-disabled) .exclusive:after,
body:not(.gamasutra-beautifier-disabled) .editor:after,
body:not(.gamasutra-beautifier-disabled) .featured:after {
    background-color: rgb(2, 149, 71) !important;
    padding: 2px 4px;
    color: #fff;
    font-weight: normal;
    border-radius: 5px;
    font-size: 10px;
    vertical-align: middle;
}
body:not(.gamasutra-beautifier-disabled) .exclusive {
    text-decoration: none !important;
    color: #fff;    
}
body:not(.gamasutra-beautifier-disabled) .exclusive:after {
    content: 'Exclusive';    
    letter-spacing: initial;
    transition: background-color 250ms ease-in !important;    
}
body:not(.gamasutra-beautifier-disabled) .featured:after {
    content: 'Featured';
}
body:not(.gamasutra-beautifier-disabled) .editor:after {
    content: 'Editor';
}
body:not(.gamasutra-beautifier-disabled) a.exclusive:hover:after {
    text-decoration: none !important;
    background-color: #22522a !important;
}

/* Login */

body:not(.gamasutra-beautifier-disabled) .content_box_middle font[size="+2"] {
    margin-bottom: 10px !important;
    display: block !important;
    font-weight: bold !important
}
body:not(.gamasutra-beautifier-disabled) .content_box_middle img[src*="icon_login.gif"],
body:not(.gamasutra-beautifier-disabled) .content_box_middle img[src*="body_divider.gif"] {
    display: none !important;
}
body:not(.gamasutra-beautifier-disabled) .content_box_middle #LoginForm td {
    background-color: transparent !important;
}
body:not(.gamasutra-beautifier-disabled) .content_box_middle #LoginForm input[type="text"],
body:not(.gamasutra-beautifier-disabled) .content_box_middle #LoginForm input[type="password"] {
    border: none !important;
    border-bottom: 2px solid rgb(2, 149, 71) !important;
    background: none !important;
    padding: 5px;
}
body:not(.gamasutra-beautifier-disabled) .content_box_middle #LoginForm input[type="submit"] {
    background-color: rgb(2, 149, 71) !important;
    padding: 10px;
    color: #fff;
    margin: 10px auto 20px;
    display: inline-block;    
    border: none;
    font-weight: bold;
    border-radius: 5px;
    font-size: 18px;
}
body:not(.gamasutra-beautifier-disabled) .content_box_middle #LoginForm input[type="submit"]:hover {
    background-color: #22522a !important;
}

/* Pagination */

body:not(.gamasutra-beautifier-disabled) .page_item img[src*="btn_articlestart.gif"],
body:not(.gamasutra-beautifier-disabled) .page_item strong + a[href*="?page="][href^="/"] img,
body:not(.gamasutra-beautifier-disabled) .page_item a + a[href*="?page="][href^="/"] img {
    display: none !important;
}
body:not(.gamasutra-beautifier-disabled) .page_item hr + a + a + strong,
body:not(.gamasutra-beautifier-disabled) .page_item hr + a + strong,
body:not(.gamasutra-beautifier-disabled) .page_item hr + strong + a + strong,
body:not(.gamasutra-beautifier-disabled) .page_item hr + strong + a + a + strong,
body:not(.gamasutra-beautifier-disabled) .page_item strong + a[href*="?page="][href^="/"]:after,
body:not(.gamasutra-beautifier-disabled) .page_item a + a[href*="?page="][href^="/"]:after {
    background-color: rgb(2, 149, 71) !important;
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px;    
    font-weight: bold;
    transition: 250ms background ease-in;    
}
body:not(.gamasutra-beautifier-disabled) .page_item hr + a + a + strong,
body:not(.gamasutra-beautifier-disabled) .page_item hr + a + strong,
body:not(.gamasutra-beautifier-disabled) .page_item hr + strong + a + strong,
body:not(.gamasutra-beautifier-disabled) .page_item hr + strong + a + a + strong,
body:not(.gamasutra-beautifier-disabled) .page_item strong + a[href*="?page="][href^="/"],
body:not(.gamasutra-beautifier-disabled) .page_item a + a[href*="?page="][href^="/"],
body:not(.gamasutra-beautifier-disabled) .page_item strong + a[href*="?page="][href^="/"]:after,
body:not(.gamasutra-beautifier-disabled) .page_item a + a[href*="?page="][href^="/"]:after {
    display: inline-block;
}
body:not(.gamasutra-beautifier-disabled) .page_item a + a[href*="?page="][href^="/"]:after {
    content: '« Previous';
}
body:not(.gamasutra-beautifier-disabled) .page_item strong + a[href*="?page="][href^="/"]:after {
    content: 'Next »';
}
body:not(.gamasutra-beautifier-disabled) .page_item strong + a[href*="?page="][href^="/"]:hover:after,
body:not(.gamasutra-beautifier-disabled) .page_item a + a[href*="?page="][href^="/"]:hover:after {
    text-decoration: none;
    background-color: #22522a !important;
}

/* RSS */

body:not(.gamasutra-beautifier-disabled) .right > strong > a[href="/blogs/rss-member/"],
body:not(.gamasutra-beautifier-disabled) .right > strong > a[href="/blogs/rss-expert/"],
body:not(.gamasutra-beautifier-disabled) .right > a[href="/blogs/rss-member/"] img,
body:not(.gamasutra-beautifier-disabled) .right > a[href="/blogs/rss-expert/"] img,
body:not(.gamasutra-beautifier-disabled) a[href*="GamasutraFeatureArticles"] img {
    display: none;
}
body:not(.gamasutra-beautifier-disabled) .right > a[href="/blogs/rss-member/"]:after,
body:not(.gamasutra-beautifier-disabled) .right > a[href="/blogs/rss-expert/"]:after,
body:not(.gamasutra-beautifier-disabled) a[href*="GamasutraFeatureArticles"]:after {
    content: 'RSS';
    padding: 2px 7px;
    font-size: 12px;
    border-radius: 5px;
    background: rgb(249,153,56);
    color: #fff;
    font-weight: bold;
    float: right;
    transition: 250ms background ease-in;
}
body:not(.gamasutra-beautifier-disabled) .right > a[href="/blogs/rss-member/"]:hover:after,
body:not(.gamasutra-beautifier-disabled) .right > a[href="/blogs/rss-expert/"]:hover:after,
body:not(.gamasutra-beautifier-disabled) a[href*="GamasutraFeatureArticles"]:hover:after {
    background: #944c05;
}


/* Pagination */

body:not(.gamasutra-beautifier-disabled) .pagination {
    display: block;
    float: none;
    clear: both;
    padding: 10px;
    text-align: center;
}

/* Search box */

body:not(.gamasutra-beautifier-disabled) .nav_search {
    display: none !important;
    width: 100%;
    background: rgb(2, 149, 71);
    margin-bottom: 20px;
    padding: 0 10px;
}

body:not(.gamasutra-beautifier-disabled) #memberLogin {
    background: rgb(2, 149, 71);
    border-radius: 20px;
    padding: 0 10px;
}
body:not(.gamasutra-beautifier-disabled) #memberLogin form {
    color: #fff;
    display: flex;
    align-items: center;
}
body:not(.gamasutra-beautifier-disabled) #memberLogin .searchBox {
    margin-left: 10px;
    display: flex;
}
body:not(.gamasutra-beautifier-disabled) .nav_search input[type="text"],
body:not(.gamasutra-beautifier-disabled) #memberLogin input[type="text"] {
    padding: 10px 7px;
    border: none;
    margin-right: 5px;
}
body:not(.gamasutra-beautifier-disabled) .nav_search input[type="submit"],
body:not(.gamasutra-beautifier-disabled) #memberLogin input[type="submit"] {
    border: none;
    padding: 7px 13px;
    font-weight: bold;
    font-size: 14px;
    color: rgb(1,87,41);
    border-radius: 20px;
}

/* Tables */

body:not(.gamasutra-beautifier-disabled) .item_body table {
    width: 100% !important;
}
body:not(.gamasutra-beautifier-disabled) .item_body table.table_border {    
    margin: 10px 0;
    background: rgba(0,0,0,.05);
}
body:not(.gamasutra-beautifier-disabled) .item_body table.table_border td {
    border-bottom: 1px solid #ddd;
}
body:not(.gamasutra-beautifier-disabled) .item_body table.table_border th,
body:not(.gamasutra-beautifier-disabled) .item_body table.table_border td {
    padding: 5px;
}
body:not(.gamasutra-beautifier-disabled) .item_body table.table_border tbody tr:last-child td {
    border-bottom: none;
}

/* Related */

body:not(.gamasutra-beautifier-disabled) .related {
    float: none;
    clear: both;
    padding-top: 20px;
    display: none;
}
body:not(.gamasutra-beautifier-disabled) .related h3 {
    margin-top: 0;
}
body:not(.gamasutra-beautifier-disabled) .related .stories_item {
    width: 25%;
    padding: 0 10px 0 0;
    box-sizing: border-box;
}
body:not(.gamasutra-beautifier-disabled) .related .stories_item:last-child {
    padding-right: 0;
}
body:not(.gamasutra-beautifier-disabled) .related .thumb {
    height: 130px;
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    overflow: hidden;
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
}
body:not(.gamasutra-beautifier-disabled) .related .thumb a {
    display: flex;
}
body:not(.gamasutra-beautifier-disabled) .related .thumb img {
    border: none !important;
    height: 130px;
    object-fit: scale-down;
}
body:not(.gamasutra-beautifier-disabled) .related .title {
    text-align: left;
}
body:not(.gamasutra-beautifier-disabled) .related .title br {
    display: none;
}
body:not(.gamasutra-beautifier-disabled) .related .title br + a {
    display: inline-block;
    font-size: 10px;
    margin-top: 5px;
    background-color: #22522a;
    color: #fff;
    padding: 2px 5px;
    border-radius: 5px;
    word-break: break-all;
    opacity: 0.75;
    text-decoration: none;
    transition: all 100ms ease-in;
}
body:not(.gamasutra-beautifier-disabled) .related .title br + a:hover {
    opacity: 1;
}
body:not(.gamasutra-beautifier-disabled) twitter-widget {
    display: flex !important;
    width: 100% !important;
    justify-content: center;
}

/* Responsiveness */

@media (max-width: 1070px) {
    body:not(.gamasutra-beautifier-disabled) .span-16.leaderboard,
    body:not(.gamasutra-beautifier-disabled) #div-gpt-ad-sky1,
    body:not(.gamasutra-beautifier-disabled) #div-gpt-ad-Ltile1 {
        display: none !important;
    }
}
@media (max-width: 580px) {
    body:not(.gamasutra-beautifier-disabled) #div-gpt-ad-rec1,
    body:not(.gamasutra-beautifier-disabled) #div-gpt-ad-rec2 {
        float: none;
    }
}
@media (max-width: 500px) {

    body:not(.gamasutra-beautifier-disabled) blockquote {
        font-size: 20px !important;
        font-style: italic !important;
        width: auto !important;
        float: none !important;
        border-left: none;
        border-right: none;
        margin: 20px 0 !important;
    }
    body:not(.gamasutra-beautifier-disabled) .item_body img {
        width: 100% !important;
        border: none;
    }
    body:not(.gamasutra-beautifier-disabled) footer {
        text-align: center;
        position: static;
        margin-top: 10px;
    }
    body:not(.gamasutra-beautifier-disabled) footer a {
        border-top: 2px solid rgba(255,255,255,0.7);
    }
    body:not(.gamasutra-beautifier-disabled) footer a:hover {
        text-decoration: none;
        background-color: #fff;
        color: rgb(2, 149, 71) !important;
        border-top-color: #fff;
    }
}
@media (max-width: 767px) {
    body:not(.gamasutra-beautifier-disabled) .container.bottom3 .span-7 {
        margin: 0 !important;
    }
    body:not(.gamasutra-beautifier-disabled) .content_box_left {
        padding: 0 0 20px 0 !important;
    }
    body:not(.gamasutra-beautifier-disabled) .container.bottom3 .span-7 {
        display: block !important;
    }
}
@media screen and (max-width: 480px) {
    body:not(.gamasutra-beautifier-disabled) div.page_item {
        padding: 0 !important;
    }
    body:not(.gamasutra-beautifier-disabled) .content_box_middle > .page_item > img.thumbnail {
        width: 100px;
        height: 100px;
        padding: 0 10px 0 0 !important;
    }
    body:not(.gamasutra-beautifier-disabled) div.two_col_dark,
    body:not(.gamasutra-beautifier-disabled) div.two_col {
        font-size: 14px !important;        
    }
    body:not(.gamasutra-beautifier-disabled) h6 {
        font-size: 9px !important;
        margin: 0 !important;
    }
    body:not(.gamasutra-beautifier-disabled) iframe[src*="youtube.com"],
    body:not(.gamasutra-beautifier-disabled) .hide_phone > iframe {
        height: 300px !important;
    }
    body:not(.gamasutra-beautifier-disabled),
    body:not(.gamasutra-beautifier-disabled) span.story_title,
    body:not(.gamasutra-beautifier-disabled) div.content_box_middle {
        font-size: 16px !important;
    }
    body:not(.gamasutra-beautifier-disabled) .mobile_image_transform h1 {
        font-size: 20px !important;
    }    
    body:not(.gamasutra-beautifier-disabled) div.container.bottom3 {
        margin-top: 0 !important;
    }
    body:not(.gamasutra-beautifier-disabled) h1.item_title {
        font-size: 20px !important;
    }
    body:not(.gamasutra-beautifier-disabled) .commentBox td[style*="width: 80px"] {
        display: none !important;
    }
    body:not(.gamasutra-beautifier-disabled) h1.item_title,
    body:not(.gamasutra-beautifier-disabled) .page_item .pageNav,
    body:not(.gamasutra-beautifier-disabled) .page_item .newsAuth,
    body:not(.gamasutra-beautifier-disabled) .page_item > h1.item_title:first-child + div + div + hr + div > div > .comment_title {
        text-align: left;
    }
}